<div class="center">
    <h3>Lets make an account</h3>
</div>

<form action="/signup" method="post">
    <div class="input-field, center">
        <input id="username" name="user[username]" type="text" class="center">
        <label for="username">Username</label>
    </div>
    <div class="input-field, center">
        <input type="password" name="user[password]" id="password" class="center">
        <label for="password">Password</label>
    </div>
    <input type="submit" value="Create Account" class="btn">
</form>
