<!DOCTYPE html>
<head>
    <style>
        h1 {text-align: center; }
        p {text-align: center; }
    </style>
</head>
<body>
    <h1>BoardGames!</h1>
    <p>Welcome to BoardGames</p>
    <p>This is where you can store all the titles of your favorit games and not have to worry about remembering them</p>
</body>