<!DOCTYPE html>
<head>
    <style>
        h1 {text-align: center; }
        p {text-align: center; }
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body>
    <h1>Group Games!</h1>
    <p>Welcome to GG, where you can save all of your favorit group games, give the game a rating, and also see how many people can play the game together</p>
    <img src="public/images/boardgames.JPG" alt="Board Games" style="width:500px;height:400px;">
</body>